<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VlKeynr Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VlKeynr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VlKeynrPad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E43295A1A1BD70400D019DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E4329841A1BDAB200D019DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E4329921A1BDAB300D019DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EABA03A1A176AFA00E9842F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EABA04F1A176AFA00E9842F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EABA0631A176C4300E9842F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40F068761A746ABF007D9F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
